.myButton {
  padding: 10px 15px;
  border: 1px solid royalblue;
  border-radius: 5%;
  background-color:rgba(95, 158, 255, 0.3);
}

.myButton:active {
  background-color:rgba(95, 158, 255, 0.8);
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}