.content {
  padding: 10px 10px 0px;
}

.controls {
  display: flex;
  column-gap: 24px;
}

.controls__filter {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.controls__limit {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.pagination-container {
  margin-top: 30px;
}
