.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-right: 40px;
  border: 1px solid burlywood;
}

.title {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
}

.description {
  padding-left: 20px;
  font-size: 18px;
}

.id {
  font-size: 12px;
  color: rgb(0, 0, 0, 0.4);
}