* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}
